<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h3>אנשי קשר </h3>
    <div class="contacts">
    {% for contact in contacts %}
   
    <div class="row">
        <div class="name">{{contact.name}}</div>
        <div class="phone">{{contact.phone}}</div>
        <div class="address">{{contact.address}}</div>
        <div class="email">{{contact.mail}}</div>
        <div class="delete">
            <form action="/delete" method="GET">
                <input type="hidden" name="id" value="{{contact.id}}">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
   
</body>
</html>